$primary: #3c4c5d;
$secondary: #7b8a8b;
$success: #18bc9c;
$info: #3498db;
$warning: #f39c12;
$danger: #e74c3c;
$blue: #3c4c5d;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #f39c12;
$green: #18bc9c;
$teal: #20c997;
$cyan: #3498db;
$black: #000;
$white: #fff;
$gray: #7b8a8b;
$gray-dark: #7b8a8b;
$gray-100: #f4f4f4;
$gray-200: #bdcecf;
$gray-300: #b5c0c1;
$gray-400: #9cabac;
$gray-500: #7b8a8b;
$gray-600: #7b8a8b;
$gray-700: #7b8a8b;
$gray-800: #7b8a8b;
$gray-900: #7b8a8b;
$primary-rgb: 60, 76, 93;
$secondary-rgb: 123, 138, 139;
$success-rgb: 24, 188, 156;
$info-rgb: 52, 152, 219;
$warning-rgb: 243, 156, 18;
$danger-rgb: 231, 76, 60;
$light-rgb: 244, 244, 244;
$dark-rgb: 123, 138, 139;
$primary-text: #303d4a;
$secondary-text: #7b8a8b;
$success-text: #13967d;
$info-text: #1f5b83;
$warning-text: #925e0b;
$danger-text: #b93d30;
$light-text: #7b8a8b;
$dark-text: #7b8a8b;
$primary-bg-subtle: #d8dbdf;
$secondary-bg-subtle: #f4f4f4;
$success-bg-subtle: #d1f2eb;
$info-bg-subtle: #d6eaf8;
$warning-bg-subtle: #fdebd0;
$danger-bg-subtle: #fadbd8;
$light-bg-subtle: #fafafa;
$dark-bg-subtle: #9cabac;
$primary-border-subtle: #b1b7be;
$secondary-border-subtle: #bdcecf;
$success-border-subtle: #a3e4d7;
$info-border-subtle: #aed6f1;
$warning-border-subtle: #fad7a0;
$danger-border-subtle: #f5b7b1;
$light-border-subtle: #bdcecf;
$dark-border-subtle: #7b8a8b;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;

$login-bg: #f7fafc;
$card-primary: #216ce7;

$card-bg: #fff;

$card-link-hover :rgb(33, 108, 231, 0.5);
$bg-slate-50: #F8FAFC;

$size-sm: 639px;
$size-md: 767px;
$size-lg: 1023px;
$size-xl: 1279px;
$size-2xl: 1535px;





:root {
    --bs-dark-rgb: $cyan ;
}