@import "./variables";

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $card-primary;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.error {

    input {
        border-color: $danger !important;

        &+label {
            color: $danger !important;
        }
    }
}

.form-group {
    position: relative;



    input {
        width: 100%;
        font-size: 16px;
        border: 2px solid $gray;
        padding: 10px;
        border-radius: 25px;
        outline: 0;


        &+ {
            label {
                font-weight: normal;
                font-size: small;
                position: absolute;
                padding: 1px;
                outline: none;
                left: 12px;
                top: 10px;
                background: $card-bg;
                transition: 0.3s ease;
                color: $card-primary;
            }
        }

        &:focus {
            border-color: $card-primary;
            border-width: 3px;
            // box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);

            +label {
                transform: scale(0.9) translateY(-22px);
            }
        }

        &:not(:placeholder-shown) {
            &+label {
                transform: scale(0.9) translateY(-20px);
            }

        }



    }

    .eye-icon {
        display: block;
        position: absolute;
        top: 13px;
        right: 12px;
        background: $gray-100;
    }



}

.dropdown {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 23px;
    border-radius: 3px;
    padding-left: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    transition: ease 2s;

    img {
        height: 24px;
    }
}

.dropdown-content {
    position: absolute;
    background: #fff;
    min-width: 160px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 5px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: block;

            &:hover {
                background: $bg-slate-50;
            }
        }
    }

    // &:not(:focus) {
    //     display: none;
    // }

}