@import "./variables";

.header-nav {
    .navbar-brand {
        font-size: 18px;
        color: white;

        img {
            height: auto !important;
            max-height: none !important;
        }
    }

    .bars-icon {

        outline: none !important;
        border: none !important;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover,
        &:focus {
            transform: scale(1.4);

        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.bg-body-tertiary {
    background-color: $card-primary !important;
}

.nav-link {
    &.active {
        color: #fff !important;
    }

    &:hover,
    &:focus {
        color: #fff !important;
    }
}