* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  font-family: 'Poppins', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('../../../node_modules/bootstrap/scss/bootstrap.scss');
@import url('./modern-normalize.scss');
@import url('./common.scss');
@import url('./login.scss');
@import url('./header.scss');
@import url('./product.scss');
@import url('./message.scss');