@import "./variables";

.section-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $login-bg;

    .login-card {
        position: relative;
        background: $card-bg;
        // z-index: 3;
        // width: 100%;

        border-radius: 1.25rem;
        overflow: hidden;
        width: 350px;

        // z-index: 5;
        padding: 160px 30px 30px;
        text-align: center;
        // margin: 0 20px;
        overflow: hidden;
    }



    .login-card::before {
        content: "";
        position: absolute;
        top: -873px;
        left: -142px;
        width: 629px;
        height: 1000px;
        background: $card-primary;

        border-radius: 50%;

    }

    .login-form {
        display: grid;
        margin: 0 auto;
        grid-template-rows: repeat(4, 0.6fr);
        grid-auto-rows: 0.6fr;
        grid-gap: 10px;
        max-width: 300px;
        width: 100%;


    }

    .login-btn {
        outline: none;
        border: none;

        cursor: pointer;
        transition: all .3s ease;
        background: $card-primary !important;
        color: $card-bg;
        padding: 10px;
        border-radius: 25px;
        width: 100%;
        // margin: 10px;
        transition: 0.2s ease;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            transform: scale(1.09);
        }

    }

    .login-logo {
        display: block;
        position: absolute;
        width: 200px;
        border-radius: 50%;
        top: -43px;
        left: 76px;


    }

    footer {
        color: $gray;
        font-size: smaller;
    }


}