@import "./variables";

@mixin message-box-styles($color, $icon) {
    position: relative;
    max-width: $size-sm;
    min-width: 200px;
    height: max-content;
    min-height: 40px;
    padding-left: 26px;
    background: $white;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    border: 1px solid $color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &::before {
        content: $icon;
        color: $white;
        background: $color;
        padding: 0 5px;
        display: flex;
        align-items: center;
        font-weight: normal;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        position: absolute;
        top: 0;
        left: -1px;
    }
}

.message-continer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .message-suceesss {
        @include message-box-styles($success, "\2713");
    }

    .message-error {
        @include message-box-styles($danger, "\1F6C8");
    }
}