@import "./variables";

.card-body {
    a {
        text-decoration: none !important;
        color: $card-primary !important;

        &:hover,
        &:focus {
            color: $card-link-hover !important;
        }
    }
}

main {
    min-height: 100vh;
}

// .rating span {
//     margin: 0.1rem;
// }

// .rating svg {
//     color: #f8e825;
// }

// .rating-text {
//     font-size: 0.8rem;
//     font-weight: 600;
//     padding-left: 0.5rem;
// }

.product-title {
    height: 2.5em;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow content */
    text-overflow: ellipsis;
    /* Add ellipsis for long text */
    white-space: nowrap;
    /* Prevent wrapping */
}

table td,
table th {
    text-align: center;
}

.review {
    margin-top: 30px;
}

.review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.review button {
    margin-top: 10px;
}

.carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}



.product-container {
    display: flex;
    // flex-direction: row;
    gap: 10px;


    .product-details {
        width: 30vw
    }

    .product-image {
        align-self: center;
        justify-self: center;

        img {
            max-width: 300px;
            height: auto;
        }

        // grid-area: col-1;
    }

    .product-caption {
        // grid-area: col-2;

        // text-align: left;
        // align-self: flex-end;
        text-decoration: underline;
    }

    .product-price {
        // grid-area: col-2;
        text-align: left;

    }

    .product-rating {
        // grid-area: col-2;
        font-size: 18px;

        // span {
        //     margin: 0.1rem;

        //     svg {
        //         color: #f8e825;
        //     }
        // }


    }

    // .product-description {


    // }
}

@media (max-width: $size-lg) {
    .product-container {
        flex-wrap: wrap;

        .product-image {
            margin: 0 auto;
        }

        .product-details {
            width: 100vw;
        }

        .cart-details {
            margin: 0 auto;
        }
    }

}

.spin-container {
    display: grid;
    place-items: center;
    height: 80vh;
}

.cart-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);



    .add-to-cart-button {
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;


        &:hover {
            background-color: #0056b3;
        }
    }



}